* {
    margin: 0;
    padding: 0;
    font-family: century;
    box-sizing: border-box;
}

ul {
    list-style: none;
}

section {
    list-style: none;
}

/***********************HEADER***********************/

header {
    background-color: #A53010;
    color: white;
    height: 80px;
}

ul img {
    width: 80px;
    height: 80px;
    border-bottom: #A53010 solid 1px;
    border-top: #A53010 solid 1px;
}

header ul {
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
}

header a {
    text-decoration: none;
    color: white;
}

/***************************Index.php*******************************/

.recherche {
    text-align: center;
    margin: 50px 0;
}

.recherche input {
    width: 450px;
    height: 30px;
}

article {
    width: 60%;
    display: flex;
    flex-direction: row;
    margin-left: 250px;
    margin-top: 50px;
}

.titre {
    margin-right: 50px;
}

.titre a {
    text-decoration: black;
    color: black;
}

.last {
    margin-bottom: 100px;
}

/*************************Connexion.php et Inscirption.php***************************/

.titre_connexion {
    display: flex;
    justify-content: center;
}

.titre_connexion h1 {
    margin: 50px 0;
    border: #A53010 1px solid;
    font-size: x-large;
    width: 250px;
    display: flex;
    justify-content: center;
}

.form_coco {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form_coco input {
    width: 250px;
    height: 40px;
    padding-left: 20px;
    margin-top: 20px;
    border: #A53010 1px solid;
}

form a {
    font-size: smaller;
    margin-top: 10px;
    margin-left: 110px;
}

.valid {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
    border: #A53010 solid 1px;
    cursor: grab;
    width: 100px;
    height: 25px;
    margin-left: 143px;
    background-color: white;
    color: #A53010;
}

.valid:hover {
    background-color: #A53010;
    color: white;
}

/*********************************Inscription.php****************************/

.titre_inscription {
    display: flex;
    justify-content: center;
}

.titre_inscription h1 {
    margin: 50px 0;
    border: #A53010 1px solid;
    font-size: x-large;
    width: 250px;
    display: flex;
    justify-content: center;
}

/*********************Tableau_de_bord.php***************************/

.titre_tableau {
    margin-left: 50px;
    margin-top: 25px;
    border: #A53010 solid 1px;
    width: 260px;
    display: flex;
    justify-content: center;
}

.tableau {
    display: grid;
    grid-template-rows: 35px;
    grid-row-gap: 25px;
    margin-left: 50px;
    margin-top: 25px;
}

.filtres ul {
    display: grid;
    grid-template-columns: 14% 14% 14% 14% 14% 14% 14%;
    border-bottom: #A53010 solid 1px;
    height: 30px;
    font-weight: bold;
}

.role ul {
    display: grid;
    grid-template-columns: 14% 14% 14% 14% 14% 14% 14%;
}

/****************************Article.php*******************************/

.titre_article {
    margin-left: 100px;
    margin-top: 25px;
    border: #A53010 solid 1px;
    width: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.art {
    margin: 25px 100px;
    width: 90%;
    border: #A53010 solid 1px;
    height: 400px;
}

#com {
    width: 90%;
    margin-left: 100px;
}

/*********************Tableau_de_bord_editeur.php***********************/

.input_de_bord {
    margin: 35px 50px;
}

.input_de_bord input {
    font-size: larger;
    width: 18%;
    height: 30px;
    background-color: white;
    border: #A53010 solid 1px;
}

.list_article {
    margin: 40px 0;
}

.list_article h1 {
    display: flex;
    flex-direction: row;
    font-size: larger;
    width: 80%;
    height: 40px;
    align-items: center;
}

.list_article ul {
    display: flex;
    flex-direction: row;
    margin: 15px 50px;
    align-items: center;
    width: 90%;
    border: #A53010 solid 1px;
}

.list_article i {
    font-size: 4em;
}

.lit {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: flex-end;
}

.lit li {
    margin: 0 5px;
    display: flex;
    align-items: center;
    
}

.lit input {
    font-size: 0.9em;
    background-color: white;
    border: white solid 1px;
}

/***********************Ecrire_un_article.php***************************/

.article_ecrire {
    display: grid;
    grid-template-rows: 33% 33% 33%;
    height: 100%;
    margin-left: 150px;
    margin-top: 50px;
}

.titre_de_larticle input{
    width: 20%;
    height: 50px;
    margin-bottom: 50px;
    border: #A53010 solid 1px;
}

.image {
    margin-bottom: 50px;
}

.paragraphe input {
    height: 350px;
    width: 90%;
    margin-bottom: 50px;
    border: #A53010 solid 1px;
}

.resume input {
    height: 70px;
    width: 90%;
    border: #A53010 solid 1px;
}

.btn {
    display: flex;
    justify-content: flex-end;
    width: 90%;
    margin-top: 50px;
    height: 40px;
}

.btn input {
    width: 200px;
    background-color: white;
    border: #A53010 solid 1px;
    cursor: grab;
}

.btn input:hover {
    background-color: #A53010;
    color: white;
}

/****************************FOOTER.php********************************/

footer {
    background-color: #A53010;
    color: white;
    height: 70px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

footer ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 70px;
}

footer a {
    color: white;
    text-decoration: none;
}